.blog-item {
  display: flex;
  flex-wrap: wrap;
  &-img,
  &-content {
    width: 50%;
    padding: 1rem 2rem;
    p {
      line-height: 1.75;
      font-size: .8125rem;
    }
  }
  &-img {
    & img {
      width: 100%;
      height: 250px;
      object-fit: cover;
    }
  }
}

.thread-icon {
  color: #ACACAC;
}

@include media-breakpoint-down(md) {
  .blog-item {
    &-img,
    &-content {
      width: 100%;
    }
  }
}
