.faq {
  padding-left: 1rem;
  &-list {
    li {
      font-weight: 600;
      line-height: 30px;
      cursor: pointer;
      &:before {
        content: "\f107";
        float: right;
        font-family: "FontAwesome";
        color: $black;
        font-size: 1.25rem;
      }
      &.collapsed:before {
        content: "\f104";
      }
      &:after {
        content: "";
        display: table;
        clear: both;
      }
    }
  }
  &-title-page {
    text-transform: uppercase;
    font-weight: 400;
    color: $cyan;
    letter-spacing: 3px;
  }
}
