.banner {
  position: relative;
  width: 100%;
  &-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    background-color: rgba(0,0,0,.4);
    padding-left: 1rem;
    padding-right: 1rem;
  }
  &-title {
    font-size: 4rem;
    font-weight: 600;
    color: $secondary;
    margin-bottom: 1rem;
  }
  &-img &-overlay {
    flex-flow: row;
    align-items: center;
  }
}

@include media-breakpoint-down(md) {
  .banner {
    height: 400px;
  }
}
