.breadcrumb {
  background-color: #E2E2E2;
  font-size: .8125rem;
  padding: .25rem .75rem;
  &-item + &-item:before{
    content: ">";
    font-weight: 700;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  &-item.active {
    color: $black;
  }
}
