.carousel-control {
  font-size: 1.25rem;
}

.carousel-indicators {
  &-recipe {
    list-style: none;
    padding: 0;
    position: static;
    display: block;
    margin-right: 0;
    margin-left: 0;
    cursor: pointer;
    li {
      position: relative;
      width: auto;
      height: 0;
      padding-bottom: 100%;
      margin-left: 0;
      margin-right: .5rem;
      background-color: inherit;
      text-indent: 0;
      &.active:before {
        content: none;
      }
      &.active:after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.4);
        content: "\f04b";
        font-family: 'FontAwesome';
        font-size: 2rem;
        color: $white;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    li + li {
      margin-top: .5rem;
    }
  }
  &-product {
    position: static;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: .5rem;
    display: block;
    li {
      float: left;
      width: 18%;
      margin-left: 1%;
      margin-right: 1%;
      margin-bottom: 1%;
      height: 0;
      padding-bottom: 20%;
      position: relative;
      border: 1px solid $gray-400;
      text-indent: 0;
      cursor: pointer;
      &:hover {
        border: 1px solid $orange;
      }
      &.active:before {
        content: none;
      }
      &.active:after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.4);
        content: "\f04b";
        font-family: 'FontAwesome';
        font-size: 1rem;
        color: $black;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

@include media-breakpoint-down(md){
  .carousel-ig{
    margin-bottom: 1rem;
  }
}
