.head-top{
  background-color: $gray-400;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.head-middle{
  border-bottom: 2px solid $gray-400;
}

.head-bottom{
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.promotion-text{
  margin-bottom: 0;
  font-size: .875em;
  text-transform: uppercase;
  display: inline-block;
}

.btn-promotion {
  margin-left: .5rem;
}

.lang-flag{
  width: auto;
  height: 20px;
}

.nav-link{
  text-transform: uppercase;
  font-size: .875em;
  font-weight: 600;
  color: $black;
}

.navbar-nav-scroll {
  .navbar-item{
    &.show,
    &.active,
    &:active{
      .nav-link{
        color: $cyan;
      }
    }
  }

  .navbar-nav .nav-link {
    padding: {
      left: .75rem;
      right: .75rem;
    }
    text-align: center;
  }

  .nav-link{
    font-size: .875em;
    color: $black;
    transition: .25s color;
    &:hover{
      color: rgba(red($cyan),green($cyan),blue($cyan),.7);
    }
  }

  .nav-link-img{
    width: auto;
    height: 28px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.navbar-light .navbar-nav {
  .nav-link {
    color: $black;
    &:hover, &:focus {
      color: $cyan;
    }
  }
}

.navbar-item.is-label{
  position: relative;
  .navbar-label{
    position: absolute;
    font-size: .875em;
    top: 0.5rem;
    right: 0.5rem;
  }
}

.search-form{
  position: relative;
  border-bottom: 1px solid rgba(red($cyan),green($cyan),blue($cyan),.5);
  display: flex;
  &-input{
    border: 0;
    flex-grow: 1;
    line-height: 1.25;
    padding: .5rem;
    overflow: hidden;
    &:focus{
      outline: none;
    }
  }
  &-submit{
    background: transparent;
    border: 0;
    width: auto;
    height: 20px;
    right: 0;
    top: 0;
    cursor: pointer;
    img{
      width: auto;
      height: 100%;
    }
  }
}

@include media-breakpoint-down(lg) {
  .promotion-text{
    display: none;
  }
  .btn-promotion{
    display: none;
  }
}

@include media-breakpoint-down(md) {
  .navbar-nav-scroll{
    width: 100%;
    min-height: 1px;
    .navbar-nav{
      flex-wrap: wrap;
    }
    .navbar-item{
      flex-basis: 33.33%;
      min-height: 1px;
      text-align: center;
    }
  }
}

@include media-breakpoint-down(sm) {
  .navbar-nav-scroll{
    .navbar-item{
      flex-basis: 50%;
    }
  }
}
